body {
	font-family: 'Karla', sans-serif;
	border-left: solid;
	border-color: yellow;
	border-width: 20px;
	height: 100%;
	margin: 0 auto;
}

div{
	display: inline-block;
}

a {
	text-decoration: none;
	color: grey;
}

#name {
	margin-left: 12px;
	margin-right: 14px;
	font-size: 45px;
	letter-spacing: -7px;
	margin-bottom: -20px;
	margin-top: -10px;
}

.workabout {
	letter-spacing: -1px;
	font-size: 20px;
}

h2 {
	font-weight: lighter;
}

#container {
	text-align: center;
	width: 100%;
}

p {
	margin-top: -20px;
	text-align: center;
	font-size: 20px;
}
.wrapper {
	margin-left: 1%;
	margin-right: 1%;
	text-align: center;
}

.content {
	height: 200px;
	width: 350px;
	background-color: black;
	margin: 10px;
	position: relative;
}


h3 {
	position: absolute;
	bottom: 0;
	left: 0;
	letter-spacing: -1px;
	margin-left: 15px;
	margin-bottom: 10px;
	color: white;
}

.iconholder {
	height: 10px;
	margin: 10px;
	position: relative;
	text-align: center;
}